.Header{
    display: flex;
    align-items: center;
    background-color:#5a2149;
    color: #ffff;
    height: 2rem;
    justify-content: flex-end;
    padding-right: 10%;
}

.Header_icons{
    color: #ffff;
    margin-right: 10px;
    transition: color 200ms ease-in;
}

.Header_icons:hover{
    color: #edba00;
}