.propuesta_dialog_form{
    display: flex;
    flex-wrap: wrap;
}

.propuesta_dialog_form input,
.propuesta_dialog_form textarea{
    margin-top: .5rem;
    width: 100%;
    display: block;
    border-bottom: none;
    transition: color 200ms ease-in;
    background-color: rgb(238, 238, 238);
}

.propuesta_dialog_form input:focus::placeholder,
.propuesta_dialog_form input:hover::placeholder,
.propuesta_dialog_form textarea:focus::placeholder,
.propuesta_dialog_form textarea:hover::placeholder{
    color:  #5a2149;
}

.propuesta_dialog_form input:required,
.propuesta_dialog_form textarea:required{
    font-weight: bold;
}

.propuesta_dialog_form input:invalid,
.propuesta_dialog_form textarea:invalid{
    border-bottom: 2px solid #5a2149 !important;
}

.propuesta_dialog_form textarea{
    min-height: 10rem;
    resize: none;
}